<nav class="navbar">
    <div class="logo-section">
        <img src="./images/Nav-logo.png" alt="Logo" class="logo">
        <div class="brand">
            <span class="company-name">Cycleone</span>
            <span class="nav-tagline">CONNECT•COMMUTE•CONSERVE</span>
        </div>
    </div>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="nav-links">
        <a href="index.html" class="nav-item">
            <span class="nav-text">Home</span>
            <span class="nav-line"></span>
        </a>
        <a href="#about" class="nav-item">
            <span class="nav-text">About</span>
            <span class="nav-line"></span>
        </a>
        <a href="#model" class="nav-item">
            <span class="nav-text">Model</span>
            <span class="nav-line"></span>
        </a>
        <a href="#funding" class="nav-item">
            <span class="nav-text">Funding</span>
            <span class="nav-line"></span>
        </a>
        <a href="#team" class="nav-item">
            <span class="nav-text">Team</span>
            <span class="nav-line"></span>
        </a>
    </div>
</nav>